main {
  width: 100%;
}

.btcAddEm {
  background-color: seagreen;
  width: 177px;
  height: 24tc;
  font-size: 25px;
  border: none;
}
.btcAddEm:hover {
  background-color: rgb(120, 207, 158);
  color: black;
}

.conteudo {
  width: 200px;
}

.list-group-header {
  padding: 2%;
  border-radius: 6px 6px 6px 6px !important;
  background-color: lightgray;
  align-items: baseline;
  margin-left: none !important;
}

.list-group-item {
  padding: 1%;
  border-radius: 6px 6px 6px 6px !important;
  background-color: lightgray;
  margin-top: 2%;
  align-items: baseline;
}
