:root {
  --dark-green: darkgreen;
  --medium-green: seagreen;
  --pop-color: crimson;
  --bg-white: azure;
}

header {
  background-color: var(--dark-green);
  position: sticky;
  font: bolder;
}

.warning-text {
  color: var(--pop-color);
  font-size: small;
}

.nav-item {
  background-color: var(--bg-white);
  border-radius: 5px;
}

/*Estilizando Botão*/
.btn {
  background-color: rgba(217, 217, 217, 1);
}
.btn:hover,
.btn:focus {
  background-color: rgb(255, 255, 255); /* mantém a cor */
  color: black; /* mantém o texto */
}

.sidebar {
  background-color: var(--medium-green);
  width: 280px;
  padding-bottom: 80px;
}

.content {
  margin-left: 280px;
}
